<ion-accordion-group class="accordeon">
  <ion-accordion value="aula" class="accordeon--content">
    <ion-item slot="header">
      <ion-toolbar>
        <ion-searchbar
          (ionInput)="onSearchTermChange($event)"
          placeholder="Buscar por encargado o aula"
        ></ion-searchbar>
      </ion-toolbar>
    </ion-item>
    <div slot="content">
      <ion-item lines="none">
        <ion-label>Estado del aula</ion-label>
      </ion-item>

      <ion-radio-group class="radio-group-container" (ionChange)="onStatusChange($event)">
        <ion-item lines="none">
          <ion-label class="label" color="medium">Disponible</ion-label>
          <ion-radio slot="start" [value]="classroomStatus.Available"></ion-radio>
        </ion-item>
        <ion-item lines="none">
          <ion-label class="label" color="medium">No disponible</ion-label>
          <ion-radio slot="start" [value]="classroomStatus.Busy"></ion-radio>
        </ion-item>
      </ion-radio-group>
    </div>
  </ion-accordion>
</ion-accordion-group>
