@for (item of classroom(); track $index) {
<div class="classroom-item">
  <div class="classroom-item--section">
    <p class="classroom-item--section--name">{{ item.name }}</p>
    <p class="classroom-item--section--teacher">
      {{ item.responsible }}
    </p>
  </div>
  <div class="classroom-item--section">
    <p class="classroom-item--section--status"
       [ngClass]="{'available': item.status === 0, 'busy': item.status === 1}">
      {{ getClassroomStatusLabel(item.status) }}
    </p>
    <p class="classroom-item--section--date">
      Ocupado a las: {{ item.startDate | date: 'dd/MM/yyyy' }} Hasta las:
      {{ item.endDate | date: 'dd/MM/yyyy' }}
    </p>
  </div>
</div>
}
