@for (item of classroom(); track $index) {
  <div class="classroom-item">
    <p class="classroom-item__name">{{ item.name }}</p>
    <div class="classroom-item__content">
      <div class="classroom-item__section" *ngIf="item.startDate && item.endDate">
        <p class="classroom-item__teacher">{{ item.responsible }}</p>
      </div>
      <div class="classroom-item__section">
        <p class="classroom-item__status"
          [ngClass]="{'classroom-item__status--available': item.status === 0, 'classroom-item__status--busy': item.status === 1}">
          {{ getClassroomStatusLabel(item.status) }}
        </p>
        <p class="classroom-item__date" *ngIf="item.startDate && item.endDate">
          Ocupado a las: {{ item.startDate | date: 'dd/MM/yyyy HH:mm' }} Hasta las: {{ item.endDate | date: 'dd/MM/yyyy HH:mm' }}
        </p>
      </div>
    </div>
  </div>
}
