@for (item of classroom(); track $index) {
<div class="classroom-item">
  <div class="classroom-item--section">
    <p class="classroom-item--section--name">{{ item.name }}</p>
    <p class="classroom-item--section--teacher">
      {{ item.resposible }}
    </p>
  </div>
  <div class="classroom-item--section">
    <p class="classroom-item--section--status">
      {{ item.status }}
    </p>
    <p class="classroom-item--section--date">
      Ocupado a las: {{ item.startDate }} Hasta las:
      {{ item.endDate }}
    </p>
  </div>
</div>
}
