<ion-header>
  <ion-toolbar>
    <ion-title>Iniciar Sesión</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form (ngSubmit)="onLogin()" [formGroup]="form">
    <ion-item>
      <ion-input
        placeholder="Correo"
        type="email"
        formControlName="email"
        required
      ></ion-input>
    </ion-item>
    @if (form.get('email')?.invalid && form.get('email')?.touched) {
    <ion-note color="danger"> Correo inválido </ion-note>
    }

    <ion-item>
      <ion-input
        placeholder="Contraseña"
        type="password"
        formControlName="password"
        required
      ></ion-input>
    </ion-item>
    @if (form.get('password')?.invalid && form.get('password')?.touched) {
    <ion-note color="danger"> La contraseña es obligatoria </ion-note>
    }
    <ion-button expand="full" type="submit" [disabled]="form.invalid">
      Iniciar Sesión
    </ion-button>

    <ion-button expand="full" (click)="navigateToClassrooms()" fill="clear">
      Ver lista de aulas
    </ion-button>
  </form>
</ion-content>
