<ion-menu content-id="main-content">
  <ion-content class="ion-padding">
    <!-- Sección de la foto y texto -->
    <div class="profile-section" *ngIf="isAuthenticated">
      <ion-avatar>
        <img src="assets/user.jpg" alt="Administrador" />
      </ion-avatar>
      <p class="profile-name">Administrador</p>
    </div>

    <ion-list>
      <ion-menu-toggle>
        <ion-item (click)="onNavigateTo('/home')" onkeypress="onNavigateTo('/home')"> AULAS </ion-item>
      </ion-menu-toggle>
    </ion-list>

    <div style="margin-top: auto">
      <ng-container *ngIf="isAuthenticated; else authOption">
        <ion-menu-toggle>
          <ion-item (click)="onNavigateTo('/upload-classrooms')" onkeypress="onNavigateTo('/upload-classrooms')"> CARGAR AULAS </ion-item>
        </ion-menu-toggle>
        <ion-menu-toggle>
          <ion-item (click)="logout.emit()" onkeypress="logout.emit()"> CERRAR SESIÓN </ion-item>
        </ion-menu-toggle>
      </ng-container>
      <ng-template #authOption>
        <ion-menu-toggle>
          <ion-item (click)="onNavigateTo('/auth')" onkeypress="onNavigateTo('/auth')"> INICIAR SESIÓN </ion-item>
        </ion-menu-toggle>
      </ng-template>
    </div>
  </ion-content>
</ion-menu>
